@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="hello_world" class="display-4 green-text" onmouseover="newColor()" onmouseout="oldColor()">Title with Animation!</h1>
    <iframe width="720" height="405" src="https://www.youtube.com/embed/w5cMqD0WqYE?autoplay=1&mute=1"></iframe>
</div>
